{% extends 'base.html.twig' %}

{% block body %}
    <div class="app">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 layout-sidebar">
                    <ul>
                        <li>
                            <a class="navbar-brand" href="{{ path('homepage') }}">
                                <i class="fas fa-home"></i> Home
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('shopping_list_new') }}">Add a shopping list</a>
                        </li>
                        <li>
                            <a href="{{ path('product_index') }}">Your products</a>
                        </li>
                    </ul>
                </div>
                <div class="col-9 layout-main">
                    <div class="d-flex justify-content-end">
                        {% if is_granted('ROLE_USER') %}
                            <a class="logout-link" href="{{ path('security_logout') }}">
                                <i class="fas fa-sign-out-alt"></i>
                                Logout
                            </a>
                        {% endif %}
                    </div>

                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
