{% extends 'base.html.twig' %}

{% block body %}
    <div class="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('homepage') }}">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('security_logout') }}">Logout</a>
                {% endif %}
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <ul>
                        <li>
                            <a href="">Add a shopping list</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
