{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div class="app-login">
        {% if not is_granted('ROLE_USER') %}
            <a href="{{ path('connect_facebook_login') }}">Facebook</a>
        {% endif %}
    </div>
{% endblock %}
